<%- include("templates/header") %>
<h1>Hello World!</h1>

<% if (!authenticated) { %>
<a href="signup"><button>Sign Up</button></a>
<a href="login"><button>Log in</button></a>
<% } else { %>
<a href="member"><button>Members Area</button></a>
<a href="/api/signout"><button>Signout</button></a>
<% } %> <%- include("templates/footer") %>
